---
---

//---- Override standart Cayman Theme variables

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #200200 !default;

$header-heading-color: #fff !default;
// $header-bg-color: #159957 !default;
// $header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #24292e;
$body-text-color: #24292e !default;
$body-link-color: #0366d6 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: rgba(27,31,35,0.05) !default;
$code-text-color: #24292e !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Override Hamburger menu
$hamburger-size: 40px !default;

//---- Import hamburger menu
@import "base";
@import "animations/criss-cross";

//---- Import current theme
@import "{{ site.theme }}";

// ---- Override other classes

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 0.25rem 0.25rem;
  }

  @include medium {
    padding: 0.25rem 2.25rem;
  }

  @include small {
    padding: 0rem 0rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 2.25rem;
  }

  @include medium {
    font-size: 1.25rem;
  }

  @include small {
    font-size: 0.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  font-family : Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
  h1 {
   color: #300300;
   font-weight: 600;
  }

  h2 {
   color: #300300;
   font-weight: 600;
  }
  
  
  h3 {
   color: #300300;
   font-weight: 600;
  }
  
  code {
    font-family   : SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 
  }
  
  @include large {
    max-width: 80rem;
  }

}

.site-footer {
	clear:both;
	display:block;
}

/* about-header */

.no-float {
	clear:both;
}

.about-header {
  width:200px;
  float:left;
  display: inline-block;
  // position:absolute;
  -webkit-font-smoothing:subpixel-antialiased;

  @include small {
	width:100%;
    float:none;
	clear:both;
    position:static;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 99%;
  }
}

.about-section {
  width: (calc(100% - 200px));
  float:left;
  display: inline-block;
  // position: absolute;
  // padding-bottom:50px;
  padding-left:50px;

  @include medium {
	padding-left:25px;
  }
  
  @include small {
    float:none;
	clear:both;
    position:static;
	padding-left:0px;
	width: 100%;
  }
}

/* Button-large-only */

.hide-small {
	@include small {
		display: none;
	}
}

/* Hamburger position */ 
.hamburger-position {
	position: absolute;
    top: 12px;
    right: 12px;
}

/* Dropdown Content (Hidden by Default) */

.no-margin {
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  
  +.no-margin {
	margin-top: 0rem;
	margin-bottom: 0rem;
    margin-left: 0rem;
  }
}


.dropdown-content {
  display: none;
  position: fixed;
  top: 65px;
  right: 12px;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, #195E35, $header-bg-color);
  min-width: 160px;
  border-radius: 0.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  // color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(255, 255, 255, 0.2);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
